<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ee64c8">  <td>20/04/29 15:08:56</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.aaasetUp(org.testng.ITestContext)[pri:0, instance:keanu.Tests.SignInTest@71def8f8]">&gt;&gt;aaasetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@538592647</td>   <td></td> </tr>
<tr bgcolor="ee64c8">  <td>20/04/29 15:09:25</td>   <td>29328</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.checkAlerts(org.testng.ITestResult)[pri:0, instance:keanu.Tests.SignInTest@71def8f8]">&lt;&lt;checkAlerts</td> 
<td>&nbsp;</td>  <td>main@538592647</td>   <td></td> </tr>
<tr bgcolor="ee64c8">  <td>20/04/29 15:09:25</td>   <td>29328</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.handelErrorPopup()[pri:0, instance:keanu.Tests.SignInTest@71def8f8]">&lt;&lt;handelErrorPopup</td> 
<td>&nbsp;</td>  <td>main@538592647</td>   <td></td> </tr>
<tr bgcolor="ee64c8">  <td>20/04/29 15:09:25</td>   <td>29328</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.quitBrowser()[pri:0, instance:keanu.Tests.SignInTest@71def8f8]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@538592647</td>   <td></td> </tr>
<tr bgcolor="86bdd6">  <td>20/04/29 15:08:56</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignInTest.setUp()[pri:0, instance:keanu.Tests.SignInTest@71def8f8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@538592647</td>   <td></td> </tr>
<tr bgcolor="86bdd6">  <td>20/04/29 15:09:06</td>   <td>10108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignInTest.userLogin()[pri:0, instance:keanu.Tests.SignInTest@71def8f8]">userLogin</td> 
  <td>main@538592647</td>   <td></td> </tr>
</table>
